package view

templ About() {
    <div class="w-full h-full bg-gradient-to-t from-slate-100 to-slate-200 px-10 pb-3 pt-10 ">
        <style>
            body {
                --tw-bg-opacity: 1;
                background-color: rgb(241 245 249 / var(--tw-bg-opacity));
            }
        </style>
        <div class="bg-slate-300 p-3 border-r border-b border-slate-400 rounded w-1/2 mx-auto mb-20 pb-10">
            <h1 class="flex justify-center text-lg">About Us</h1>
            <p class="">
                Like the Doblin Inn, our website operates on the cutting edge of its domain: Web Development. Skyler could never.
                <br/>
                <br/>
                The backend is written in Go with the Gin web server. For distribution, the site is containerized with an Alpine Linux-Docker image. 
                <br/>
                <br/>
                The frontend uses the Templ templating framework, essentially the Go-version of Jinja templates(used in Django). Interactivity is 
                handled mostly by HTMX--a library that allows you to control common reactive use cases via an HTML interface. For UI design, we use 
                TailwindCSS.
            </p>
        </div>
    </div>
    // div exists so that contents stack vertically but the whole thing will still get centered
}