package view

templ Header() {
    <nav class="">
        <ul class="inline-block list-none bg-red-200">
            <li><a href="">DoblINN</a></li>
            <li>Order</li>
            <li>About</li>
        </ul>
    </nav>
}