package view

templ Header() {
    <nav class="">
        <ul class="inline-block list-none bg-red-200 w-full px-2 py-3">
            <li class="inline mr-2"><a href="">DoblINN</a></li>
            <li class="inline mr-2">Order</li>
            <li class="inline">About</li>
        </ul>
    </nav>
}