package view

templ Index() {
    <img src="assets/landing_hotel.jpg" alt="the original Doblin Inn" class="size-1/2"></img>
    <div class="bg-slate-400 pt-3">
    <h1 class="flex justify-center text-2xl">
    Find Comfort! Find Familiar! Find Dob!
    </h1>
    <p class="p-10">
    All across developed territory, you can count on Dob to be your guiding light for travel. Never be without a warm, safe 
    bed--on the open road or your favorite city streets! We'll meet <i>you</i> where you are, not the other way around.
    </p>
    </div>
}