package view

templ Index() {
    <div class="relative">
        <style>
            .fade-in {
                opacity: 0;
                filter: blur(5px);
                transition: all 1.3s; 
            }
            
            .reveal {
                opacity: 1;
                filter: blur(0);
            }
            
        </style>

        <img src="assets/landing_hotel.jpg" alt="the original Doblin Inn" class="w-full"></img>
        <p class=" absolute left-6 top-14 max-sm:top-3 max-md:bottom-8 sm:bottom-8 text-6xl max-sm:text-xl max-md:text-3xl text-white">Find <i class=" fade-in bg-gradient-to-r from-orange-300 via-orange-400 to-orange-600 text-transparent bg-clip-text">Comfort</i></p>
        <style>
            .centering {
                transform: translate(0, -50%); 
            } 
        </style>
        <p class=" absolute left-6 top-[50%] centering text-6xl max-md:text-3xl max-sm:text-xl text-white">Find <i class=" fade-in bg-gradient-to-r from-orange-300 via-orange-400 to-orange-600 text-transparent bg-clip-text">Familiar</i></p>
        <p class=" absolute left-6 bottom-14 max-sm:bottom-3 max-md:bottom-8 text-6xl max-sm:text-xl max-md:text-3xl text-white">Find <i class=" fade-in bg-gradient-to-r from-orange-300 to-orange-600 text-transparent bg-clip-text">Dob</i></p>
        <script defer src="static/index.js"></script>
    </div>
    <div class="bg-gradient-to-t from-slate-100 to-slate-300 px-10 pt-20 pb-5 h-full">
        <p class="bg-slate-300 p-3 border-r border-b border-slate-400 rounded sm:w-1/2 mx-auto mb-20 pb-10">
        All across developed territory, you can count on Dob to be your guiding light for travel. Never be without a warm, safe 
        bed--on the open road or your favorite city streets! We meet you where <i>you</i> are, not the other way around.
        </p>
    </div>
}