package view

templ Index() {
    <div class="relative">
        <img src="assets/landing_hotel.jpg" alt="the original Doblin Inn" class="w-full"></img>
        <p class="absolute left-6 top-14 max-sm:top-3 max-md:bottom-8 sm:bottom-8 text-6xl max-sm:text-xl max-md:text-3xl text-white">Find <i class="text-orange-300">Comfort</i></p>
        <style>
            .centering {
                transform: translate(0, -50%); 
            }
        </style>
        <p class="absolute left-6 top-[50%] centering text-6xl max-md:text-3xl max-sm:text-xl text-white">Find <i class="text-orange-300">Familiar</i></p>
        <p class="absolute left-6 bottom-14 max-sm:bottom-3 max-md:bottom-8 text-6xl max-sm:text-xl max-md:text-3xl text-white">Find <i class="text-orange-300">Dob</i></p>
    </div>
    <div class="bg-slate-300">
    <p class="px-10 pt-8 pb-20">
    All across developed territory, you can count on Dob to be your guiding light for travel. Never be without a warm, safe 
    bed--on the open road or your favorite city streets! We meet you where <i>you</i> are, not the other way around.
    </p>
    </div>
}