package view

templ Layout(contents templ.Component) {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="css/output/output.css"></link>
        <title>Doblin Inn</title>
    </head>
    <body>
        @Header()
        <main>
            @contents()
        </main>
    </body>
    </html>
}