package view

import (
	"gitlab.com/DG_Blaster/doblin_inn/models"
	"strconv"
	"net/http"
	"github.com/gin-gonic/gin"
)

func Locate(server *gin.Engine) {
	server.GET("/locations",
		func(ctx *gin.Context) {
			var locations []models.Location
			models.DB.Find(&locations)
			ctx.HTML(http.StatusOK, "", Layout(LocateView(locations)))
		})
}

templ LocateView(locations []models.Location) {
	<div class="bg-gradient-to-t from-slate-100 to-slate-200 relative pt-10 px-2 gap-y-2 flex flex-col">
		for _, loc := range locations {
			<a
				href={ templ.SafeURL("/locations/" + strconv.Itoa(loc.ID)) }
				class="bg-slate-300 p-3 border-r border-b border-slate-400 rounded w-[90%] mx-auto mb-auto flex gap-x-2 hover:border-red-400 hover:text-red-700 hover:border-l-4"
			>
				<img src={ "/assets/" + loc.Img } alt="location pic" width="100" height="100"/>
				<div class="flex flex-col">
					<div class="font-bold">
						{ loc.Name }
					</div>
					<div>
						{ loc.Descript }
					</div>
				</div>
			</a>
		}
	</div>
}
