package view

templ Locate() {
	<div class="bg-gradient-to-t from-slate-100 to-slate-200 relative pt-10 gap-y-2 flex flex-col">
		<a href="" class="bg-slate-300 p-3 border-r border-b border-slate-400 rounded w-[90%] mx-auto mb-auto pb-10 hover:border-red-400 hover:text-red-400 hover:border-l">
			Dobarum Keep
		</a>
		<a href="" class="bg-slate-300 p-3 border-r border-b border-slate-400 rounded w-[90%] mx-auto mb-auto pb-10 hover:border-red-400 hover:text-red-400 hover:border-l">
			Old Samnium
		</a>
		<a href="" class="bg-slate-300 p-3 border-r border-b border-slate-400 rounded w-[90%] mx-auto mb-auto pb-10 hover:border-red-400 hover:text-red-400 hover:border-l">
			Savior's Row
		</a>
	</div>
}
