
package view

import "gitlab.com/DG_Blaster/doblin_inn/models"

templ Location_Index(location models.Location) {
	<div class="w-full h-full bg-gradient-to-t from-slate-100 to-slate-200 px-10 pb-3 pt-10 ">
		<h1 class="mb-4">{ location.Name }</h1>
	</div>
}
