package view

templ Login() {
	<div class="bg-gradient-to-t from-slate-100 to-slate-200 h-full pt-10">
		<p class="bg-slate-300 p-3 border-r border-b border-slate-400 rounded w-[90%] sm:w-1/2 mx-auto mb-auto pb-10">
			Login
		</p>
		<input/>
	</div>
}
