package view

templ Login() {
	<div class="bg-gradient-to-t from-slate-100 to-slate-200 h-full pt-10">
		<div class="bg-slate-300 p-3 border-r border-b border-slate-400 rounded w-[90%] sm:w-1/2 mx-auto mb-auto pb-10">
			<div class="flex justify-center font-semibold">
				<h1>Login</h1>
			</div>
			<div class="flex flex-col items-center">
				<form>
					<p class="font-light">User/Email</p>
					<input class="rounded w-48"/>
					<p class="font-light">Password</p>
					<input class="rounded w-48"/>
				</form>
			</div>
		</div>
	</div>
}
