package view

templ Login() {
	<div class="flex bg-gradient-to-t from-slate-100 to-slate-200 h-full w-full pt-10 pb-30">
		<div class="bg-slate-300 p-3 border-r border-b border-slate-400 rounded w-[90%] h-full sm:w-1/2 mx-auto mb-20 pb-10">
			<div class="flex justify-center font-semibold">
				<h1>Login</h1>
			</div>
			<div class="flex flex-col items-center">
				<form class="flex flex-col">
					<p class="font-light">User/Email</p>
					<input class="rounded w-56 border-r border-b border-red-400 focus:border-white"/>
					<p class="font-light">Password</p>
					<input class="rounded w-56 border-r border-b border-red-400 focus:border-white"/>
					<input
						type="submit"
						class="mt-4 mx-auto px-4 py-2 w-28 rounded border border-yellow-600 bg-yellow-400 hover:bg-yellow-500 text-slate-800 font-medium cursor-pointer transition-colors duration-200"
						value="Submit"
					/>
				</form>
			</div>
		</div>
	</div>
}
